@charset "UTF-8";
body, button, code, dd, del, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, label, li, ol, p, pre, select, span, strong, table, tbody, td, textarea, tfoot, th, tr, ul {
    margin: 0;
    padding: 0;
}

.clear {
    zoom: 1;
}

.clear:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

body {
    width: 100%;
    color: #000;
    background-color: #fff
}

input, textarea {
    outline: 0;
    resize: none
}

body, button, input, select, textarea {
    font: 12px/1.6 "Hiragino Sans GB", STHeiti, "微软雅黑", "Microsoft YaHei", Helvetica, Arial, serif
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ff6767;
    text-decoration: underline
}

a:focus {
    outline: 0
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    vertical-align: middle
}

.left {
    float: left
}

.right {
    float: right
}

.arrow {
    display: block;
    border: 5px dashed transparent;
    height: 0;
    width: 0;
    overflow: hidden
}

.none {
    display: none
}

html {
    width: 100%;
    overflow-x: hidden
}

i {
    font-style: normal
}

b {
    font-weight: 400
}

.w {
    width: 990px;
    margin-left: auto;
    margin-right: auto
}

.mt10 {
    margin-top: 10px
}

.mt16 {
    margin-top: 16px
}

.mt20 {
    margin-top: 20px
}

.mt26 {
    margin-top: 26px
}

.mt30 {
    margin-top: 30px
}

.mb10 {
    margin-bottom: 10px
}

.mb16 {
    margin-bottom: 16px
}

.mb20 {
    margin-bottom: 20px
}

.mb26 {
    margin-bottom: 26px
}

.bar-icon {
    display: block;
    overflow: hidden;
    background-image: url(http://static.meishichina.com/v6/img/model/bar-icon.png?v=2);
    background-repeat: no-repeat
}

.bar-icon-qq {
    background-position: 0 -32px
}

.bar-icon-sina {
    background-position: 0 0;
    top: 8px
}

.bar-icon-taobao {
    background-position: 0 -16px
}

.bar-icon-zhifubao {
    background-position: 0 -48px
}

.bar-icon-douban {
    background-position: 0 -64px
}

.bar-icon-baidu {
    background-position: 0 -80px
}

.bar-icon-renren {
    background-position: 0 -96px
}

.bar-icon-msn {
    background-position: 0 -112px
}

.bar-icon-weixin {
    background-position: 0 -126px;
    top: 10px
}

.header {
    margin-top: 40px
}

.top-bar {
    height: 40px;
    background: #333;
    color: #999;
    top: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
    left: 0;
    min-width: 990px
}

.top-bar .w {
    position: relative;
    height: 40px
}

.top-bar a {
    color: #f1f1f1
}

.top-bar a:hover {
    color: #fff;
    text-decoration: none
}

.top-bar .bar-left {
    height: 40px
}

.top-bar .bar-left li {
    float: left;
    height: 40px
}

.bar-link a, .top-bar .bar-left li a {
    font-size: 14px;
    color: #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block
}

.bar-link a:hover, .top-bar .bar-left li a:hover {
    color: #fff;
    background: #0D0D0D
}

.top-bar .bar-left li.ls a {
    width: 1px;
    background: #363636;
    padding: 0;
    height: 40px;
    overflow: hidden
}

.bar-info {
    position: relative
}

.bar-item {
    position: relative;
    float: left
}

.bar-text {
    width: auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 199011;
    cursor: pointer
}

.bar-box {
    background-color: #fff;
    position: absolute;
    z-index: 199010;
    width: 60px;
    top: 40px;
    right: 0;
    text-align: center;
    display: none
}

.bar-box li {
    height: 40px;
    line-height: 40px;
    background: #a9a9a9;
    display: block
}

.bar-box li.bar-box-item-0 {
    background: #585757
}

.bar-box li.bar-box-item-1 {
    background: #717070
}

.bar-box li.bar-box-item-2 {
    background: #7d7d7d
}

.bar-box li.bar-box-item-3 {
    background: #939393
}

.bar-box li.bar-box-item-4 {
    background: #9f9f9f
}

.bar-box li a {
    color: #f1f1f1;
    display: block;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.bar-box li a:hover {
    color: #fff
}

.top-bar .on .bar-box {
    display: block
}

.bar-info .on .bar-text {
    background: rgba(0, 0, 0, .75);
    background: #000 \9
}

.bar-info .on .bar-text i {
    border: 5px dashed transparent;
    border-bottom: 5px solid #ccc;
    top: 10px
}

.bar-user .bar-text {
    width: auto;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis
}

.bar-user .bar-text-userName {
    display: block;
    width: 60px
}

.bar-user .bar-text-userName a {
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    float: right
}

.bar-user .bar-text-userName img {
    border-radius: 50%;
    display: block;
    margin: 5px auto
}

.bar-user .bar-text-userName a span {
    background: #ff5565 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 9px;
    height: 13px;
    line-height: 13px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 2px;
    width: 13px;
    font-family: Helvetica, Arial, serif
}

.bar-login .bar-text a {
    display: block;
    line-height: 1em;
    font-size: 10px;
    width: 60px;
    text-align: center;
    height: 40px;
    float: right
}

.bar-login .bar-text a img {
    display: block;
    margin: 4px auto 2px
}

.bar-login .bar-box li {
    height: 40px;
    float: left;
    height: 40px;
    width: 60px
}

.bar-login .bar-box a {
    display: block;
    height: 40px;
    line-height: 1em;
    font-size: 10px
}

.bar-login .bar-box a img {
    display: block;
    margin: 4px auto 2px
}

.bar-login .bar-icon {
    position: absolute;
    left: 10px;
    width: 16px;
    height: 16px
}

.bar-login .bar-icon-qq {
    left: -2px;
    top: 11px
}

.bar-tips {
    position: absolute;
    top: 50px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px
}

.bar-tips .arrow {
    position: absolute;
    left: 20px;
    border-width: 10px
}

.bar-tips i.arrow {
    top: -20px;
    border-bottom: 10px solid #ccc
}

.bar-tips b.arrow {
    top: -19px;
    border-bottom: 10px solid #fff
}

.top-bar .bar-tips a {
    color: #fd8712
}

.top-bar .bar-tips a:hover {
    text-decoration: underline
}

.top-bar .bar-tips a.close {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    color: #000;
    height: 20px;
    line-height: 20px
}

.top-bar .bar-tips a.close:hover {
    background-color: #ccc;
    text-decoration: none
}

.bar-sign .bar-sign-text {
    display: block;
    height: 40px;
    background: #FFA859;
    line-height: 40px;
    text-align: center;
    width: 60px;
    color: #f1f1f1;
    float: right;
    font-size: 10px;
    line-height: 1em
}

.bar-sign .bar-sign-text img {
    display: block;
    margin: 4px auto 2px
}

.bar-sign-text-ok {
    cursor: default
}

.bar-sign-text-ing {
    background-image: url(http://static.meishichina.com/v6/img/loading-16-16.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999999em;
    cursor: default
}

.bar-sign-box {
    width: 60px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    line-height: 22px;
    display: none;
    text-align: center
}

.bar-sign-box h3 {
    display: none
}

.bar-sign-box p {
    background: #f9be78;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 12px
}

.bar-sign-box a {
    display: block;
    background: #fcc88a;
    height: 40px;
    line-height: 40px;
    color: #f1f1f1
}

.bar-sign-box a:hover {
    color: #fff
}

.bar-sign-tips {
    right: 0
}

.bar-sign-tips i.arrow {
    left: auto;
    right: 18px
}

.bar-sign-tips b.arrow {
    left: auto;
    right: 18px
}

.bar-message-tips {
    right: 20px
}

.bar-message-tips p {
    display: none
}

.bar-item, .bar-tips {
    display: none
}

.bar-loading {
    display: block;
    background: url(http://static.meishichina.com/v6/img/loading-16-16.gif) no-repeat center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    width: 50px
}

.bar-isLogin .bar-add, .bar-isLogin .bar-message, .bar-isLogin .bar-sign, .bar-isLogin .bar-user {
    display: block
}

.bar-isLogin .bar-loading {
    display: none
}

.bar-isLogin .on .bar-sign-box {
    display: block
}

.bar-noLogin .bar-add, .bar-noLogin .bar-link, .bar-noLogin .bar-login, .bar-noLogin .bar-sign {
    display: block
}

.bar-noLogin .bar-loading {
    display: none
}

.bar-center {
    display: none
}

.bar-add .bar-text {
    background: #59C3D1;
    color: #f1f1f1;
    width: 60px;
    line-height: 1em;
    font-size: 10px;
    padding: 0
}

.bar-add .bar-text:hover {
    color: #fff
}

.bar-add .bar-text img {
    display: block;
    margin: 4px auto 2px
}

.bar-add.on .bar-text {
    background: #59c3d1;
    color: #fff
}

.bar-add .bar-box li.bar-box-item-0 {
    background: #8ecdd8
}

.bar-add .bar-box li.bar-box-item-1 {
    background: #a6dfea
}

.bar-add .bar-box li.bar-box-item-2 {
    background: #adecf8
}

.bar-add .bar-box li {
    background: #ff9f4d
}

.bar-add .bar-box li a {
    color: #f1f1f1
}

.bar-add .bar-box li a:hover {
    color: #fff
}

.J_down {
    width: 60px;
}

.mini-login {
    width: 380px;
    padding: 26px 0;
    text-align: left;
    line-height: 18px;
    font-size: 12px
}

.mini-li {
    padding: 0 20px 10px;
    vertical-align: top
}

.mini-error {
    height: 24px;
    display: none
}

.mini-error p {
    border: 1px solid #f05000;
    line-height: 22px;
    height: 22px;
    color: #333;
    background-color: #fff7f2;
    padding-left: 16px
}

.mini-label {
    font-size: 14px;
    color: #111;
    display: block;
    padding-bottom: 10px
}

.mini-text {
    border: 1px solid #ccc;
    height: 16px;
    line-height: 16px;
    padding: 6px;
    background-color: #fff;
    color: #333;
    width: 326px
}

.mini-text:focus {
    border-color: #f05000
}

.mini-input {
    background-color: #f50;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    width: 340px;
    cursor: pointer;
    font-size: 14px
}

.mini-input:hover {
    background-color: #f05000
}

.mini-auto {
    padding-bottom: 30px;
    height: 18px;
    line-height: 18px
}

.mini-auto label {
    cursor: pointer;
    padding-left: 6px;
    color: #666;
    vertical-align: top
}

#m-auto {
    margin-top: 3px
}

.mini-reg {
    text-align: right;
    padding-bottom: 20px
}

.mini-auto a, .mini-reg a {
    color: #369
}

.mini-other {
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
    color: #111;
    font-size: 14px;
    padding-bottom: 0
}

.mini-other-box {
    padding-top: 10px
}

.mini-other-box a {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-right: 16px
}

.J_renderLogin span {
    float: left
}

#J_barUserName {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right
}

.logo_wrap {
    padding-top: 40px;
    height: 60px;
    overflow: hidden
}

.logo_wrap .logo_search {
    padding-top: 18px
}

.logo_wrap .logo_search .search_Text {
    width: 212px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px
}

.logo_wrap .logo_search .search_Btn {
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    background: #5c5c5c url(http://static.meishichina.com/v6/img/publick/search_18.png) no-repeat 12px center;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 26px
}

.logo_wrap .logo_search .search_Btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ba2020
}

.logo_wrap .logo_inner {
    width: 145px;
    background: url(http://static.meishichina.com/v6/img/logo.png) no-repeat scroll left center;
    background: url(http://static.meishichina.com/v6/img/logo_2016.png) no-repeat scroll left center/145px auto
}

.logo_wrap .logo_current {
    border-left: 1px solid #ddd;
    height: 30px;
    line-height: 28px;
    margin: 16px 0 0 10px;
    padding: 0 0 0 10px
}

.logo_wrap .logo_inner a {
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em
}

.logo_wrap .logo_current a {
    color: #ba2020;
    font-size: 26px
}

.nav_wrap {
    height: 40px;
    line-height: 40px;
    background-color: #ba2020;
    z-index: 1
}

.nav_wrap li {
    float: left
}

.nav_wrap a {
    display: block;
    padding: 0 28px;
    font-size: 16px;
    color: #fff
}

.nav_wrap a.on, .nav_wrap a:hover {
    text-decoration: none;
    background-color: #a21f25;
    color: #fff
}

.nav_wrap .right {
    float: right;
    position: relative
}

.nav_wrap .right a {
    font-size: 14px
}

.nav_wrap .right i {
    position: absolute;
    width: 20px;
    height: 18px;
    background: url(http://static.meishichina.com/v6/img/model/sprite_common.png) no-repeat -71px -206px;
    left: 7px;
    top: 10px
}

.gay {
    color: #ccc
}

.logo_wrap2 {
    overflow: visible;
    padding-top: 40px;
    height: 65px;
    margin: auto;
    width: 990px
}

.logo_wrap2 .logo_search {
    padding-top: 18.5px
}

.logo_wrap2 .logo_search .search_Text {
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px
}

.logo_wrap2 .logo_search .search_Btn {
    border-radius: 0 3px 3px 0;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 35px;
    line-height: 28px;
    background: #999 url(http://static.meishichina.com/v6/img/lib/search.gif) no-repeat 12px center;
    background: #999 url(http://static.meishichina.com/v6/img/lib/search.png) no-repeat scroll 12px center/16px auto
}

.logo_wrap2 .logo_search .search_Btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff6767
}

.logo_nav {
    float: right;
    padding: 0 40px 0 0;
    height: 60px
}

.logo_nav a {
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px
}

.logo_nav a b, .logo_nav a i {
    display: none
}

.logo_nav a.on i {
    display: block
}

.logo_nav a.on {
    color: #ff6767
}

.logo_nav a:hover {
    color: #ff6767;
    text-decoration: none
}

.logo_nav a.on i {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767
}

.logo_nav a.on b {
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff
}

.nav_wrap2 {
    height: 34px;
    border-bottom: 1px solid #ff6767;
    border-top: 1px solid #ff6767;
    margin: auto;
    width: 990px
}

.nav_wrap2 li {
    float: left;
    padding: 0 10px
}

.nav_wrap2 a {
    display: block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px
}

.nav_wrap2 a.on {
    color: #ff6767
}

.nav_wrap2 a:hover {
    color: #ff6767;
    text-decoration: none
}

.nav_wrap2 .right {
    float: right;
    position: relative
}

.logo_wrap2 .logo_inner {
    background: url(http://static.meishichina.com/v6/img/lib/logo.jpg) no-repeat scroll left center;
    background: url(http://static.meishichina.com/v6/img/lib/logo.png) no-repeat scroll left center/108px auto;
    width: 108px
}

.logo_wrap2 .logo_current {
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px
}

.logo_wrap2 .logo_inner a {
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em
}

.logo_wrap2 .logo_current a {
    background: #FF838B;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 0 10px
}

.logo_wrap2 .logo_current a:hover {
    background: #FF6767;
    text-decoration: none
}

.wrap .w {
    background-color: #fff;
    padding: 10px 0
}

.w {
    position: relative;
    top: 0;
    left: 0
}

a.myadmin {
    position: absolute;
    top: 0;
    right: 0
}

a.myadmin:hover {
    background: 0
}

.top-bar .nr3 {
    display: block;
    font-size: 10px;
    color: #f1f1f1;
    width: 60px;
    text-align: center;
    line-height: 1em;
    background: #FE5761;
    float: right;
    height: 100%
}

.top-bar .nr3 img {
    display: block;
    margin: 4px auto 2px
}

a.top_bar_logo i {
    display: block;
    float: left;
    width: 55px;
    height: 14px;
    margin: 13px 10px 0 0;
    text-indent: -9999em;
    background: url(http://static.meishichina.com/v6/img/lib/top-bar55.png) no-repeat;
    background: url(http://static.meishichina.com/v6/img/lib/top-bar110.png) no-repeat scroll 0 0/55px auto
}

a.top_bar_logo:hover i {
    background: url(http://static.meishichina.com/v6/img/lib/top-bar55.png) no-repeat scroll 0 -14px;
    background: url(http://static.meishichina.com/v6/img/lib/top-bar110.png) no-repeat scroll 0 -14px/55px auto
}

.top_bar_more {
    position: relative;
    width: 30px;
    cursor: pointer
}

.top_bar_more:hover {
    background: #0D0D0D
}

.top_bar_more:hover div {
    display: block
}

.top_bar_more:hover i {
    border-top: 6px solid #fff
}

.top_bar_more div {
    display: none;
    background: #333;
    left: -36px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 66px;
    width: 100%;
}

.top_bar_more div a {
    width: 46px
}

.top_bar_more i {
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-top: 6px solid #ccc;
    margin: 18px auto 0
}

.imgLoad {
    display: block;
    background: url(http://static.meishichina.com/v6/img/lib/load.png) no-repeat center center #f8f8f8
}

.icon1 {
    background: url(http://static.meishichina.com/v6/img/model/sprite_icons1.png) no-repeat;
    overflow: hidden
}

.ui-page {
    overflow: hidden;
    line-height: 34px;
    height: 36px;
    font-size: 0;
    text-align: center
}

.ui-page-inner {
    display: inline-block;
    zoom: 1
}

.ui-page a, .ui-page span {
    font-size: 14px;
    margin-right: 5px;
    padding: 0 11px;
    border: 1px solid #eee;
    vertical-align: top;
    color: #999;
    background-color: #f8f8f8;
    float: left
}

.ui-page a:hover {
    text-decoration: none;
    color: #ff6767;
    border-color: #ff6767
}

.ui-page .now_page, .ui-page .now_page:hover, .ui-page .on, .ui-page .on:hover {
    border: 1px solid #ff6767;
    background-color: #ff6767;
    color: #fff;
    cursor: default
}

.ui-page .dot {
    border-width: 0;
    cursor: default;
    line-height: 30px;
    height: 36px
}

.ui-page .next, .ui-page .prev {
    font-size: 30px;
    font-weight: 700
}

.ui-page-btn-inner {
    display: inline;
    font-size: 14px;
    vertical-align: top;
    padding-left: 10px
}

.ui-page-btn-inner i {
    font-style: normal
}

.ui-page-text {
    background-color: #fff;
    width: 40px;
    border: 1px solid #ccc;
    vertical-align: top;
    height: 16px;
    line-height: 16px;
    padding: 3px 0;
    text-align: center
}

.ui-page-btn {
    width: 50px;
    height: 24px;
    line-height: 24px;
    border: 0;
    background-color: #ccc;
    cursor: pointer
}

.ui-page-btn:hover {
    background-color: #999
}

.msc-dialog-tips-icon {
    background-image: url(http://static.meishichina.com/v6/img/model/dialog-sprite-v1.png);
    background-repeat: no-repeat
}

.ui-dialog-close {
    background-image: url(http://static.meishichina.com/v6/img/lib/close.png?v=1);
    background-repeat: no-repeat
}

.ui-dialog-outer {
    text-align: left;
    outline: 0;
    font-size: 14px
}

.ui-dialog-border {
    border: 0 none;
    margin: 0;
    border-collapse: collapse
}

.ui-dialog-content {
    height: 100%
}

.ui-dialog-title-outer {
    position: relative
}

.ui-dialog-title {
    font-size: 18px;
    overflow: hidden;
    cursor: default;
    height: 45px;
    line-height: 45px;
    padding: 0 28px 0 20px;
    background-color: #ff6767;
    color: #fff
}

.ui-dialog-close {
    display: block;
    outline: 0;
    position: absolute;
    overflow: hidden;
    right: 10px;
    top: 12px;
    height: 20px;
    width: 20px;
    text-indent: -9999em;
    cursor: pointer
}

.ui-dialog-close:hover {
    text-decoration: none;
    background-position: -20px 0
}

.ui-dialog-loading {
    width: 80px;
    height: 50px;
    overflow: hidden;
    background: url(http://static.meishichina.com/v6/img/loading-32-32.gif) no-repeat 30px center;
    line-height: 50px;
    padding-left: 80px;
    font-size: 16px
}

.ui-dialog-buttons {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 0
}

.ui-dialog-button {
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    width: auto;
    min-width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
    outline: 0;
    font-size: 14px
}

.ui-dialog-buttons a:first-child {
    margin-left: 0
}

.ui-dialog-button:hover {
    text-decoration: none;
    color: #666
}

.ui-dialog-button-disabled, .ui-dialog-button-disabled:active, .ui-dialog-button-disabled:hover {
    cursor: default;
    color: #666;
    background: #ddd;
    border-color: #999;
    filter: alpha(opacity=50);
    opacity: .5;
    text-decoration: none
}

.ui-dialog-button-on {
    background-color: #ff6767;
    color: #fff;
    border-color: #ff6767
}

.ui-dialog-button-on:hover {
    color: #fff;
    text-decoration: none
}

.ui-dialog-mask {
    background-color: #000;
    filter: alpha(opacity=30);
    opacity: .3
}

.ui-dialog-inner {
    background: #FFF;
    border: 1px solid #bab0b8
}

.ui-dialog-noTitle .ui-dialog-title {
    display: none
}

.ui-dialog-noTitle .ui-dialog-close {
    background-position: 0 0
}

.ui-dialog-noTitle .ui-dialog-close:active, .ui-dialog-noTitle .ui-dialog-close:hover {
    background-position: -20px 0
}

@media screen and (min-width: 0) {
    .ui-dialog-outer {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out
    }

    .ui-dialog-visible {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.msc-dialog-alert .ui-dialog-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px
}

.msc-dialog-alert .ui-dialog-noTitle .ui-dialog-content {
    padding-top: 40px
}

.msc-dialog-alert .ui-dialog-content h3 {
    font-size: 16px;
    color: #111
}

.msc-dialog-alert .ui-dialog-content p {
    color: #999;
    font-size: 12px
}

.msc-dialog-alert .ui-dialog-inner {
    border: 0
}

.msc-dialog-tips .ui-dialog-border {
    border-color: #ccc
}

.msc-dialog-tips .ui-dialog-content {
    padding: 16px 30px 16px 38px;
    color: #333
}

.msc-dialog-tips .ui-dialog-title-outer {
    display: none
}

.msc-dialog-tips-icon {
    position: absolute;
    left: 16px;
    top: 20px;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
}

.msc-dialog-tips-success-icon {
    background-position: 0 -110px
}

.msc-dialog-tips-warning-icon {
    background-position: 0 -94px
}

.msc-dialog-tips-error-icon {
    background-position: 0 -78px
}

.msc-dialog-loading .ui-dialog-header {
    display: none
}

.ui-smilies {
    overflow: hidden;
    left: -99999px;
    position: absolute;
    border: 1px solid #aaa;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    height: 160px;
    background: url(http://static.meishichina.com/v6/img/loading-32-32.gif) no-repeat center center #fff;
    z-index: 999
}

.ui-smilies .ui-smilies-no {
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 160px
}

.ui-smilies-nav {
    width: 119px;
    position: absolute;
    top: 0;
    left: 0;
    height: 159px;
    overflow-y: auto;
    background: #f8f8f8;
    border-right: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow-x: hidden
}

.ui-smilies-nav li {
    color: #999;
    display: block;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9));
    background: -moz-linear-gradient(top, #fff 0, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fff 0, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fff 0, #e9e9e9 100%);
    background: linear-gradient(top, #fff 0, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);
    cursor: pointer;
    line-height: 30px;
    text-align: center
}

.ui-smilies-nav li:hover {
    background: #f0f0f0;
    text-decoration: none
}

.ui-smilies-nav li.on {
    color: #666;
    background: #e3e3e3;
    filter: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}

.ui-smilies-content {
    padding: 10px 5px;
    height: 140px;
    margin-left: 125px;
    overflow-y: auto;
    background-color: #fff
}

.ui-smilies-content li {
    float: left;
    overflow: hidden;
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer
}

.ui-smilies-noNav .ui-smilies-content {
    margin-left: 0
}

.ui-checkbox {
    display: block;
    position: absolute;
    left: -9999em
}

.ui-checkbox-for {
    display: block;
    width: 13px;
    height: 13px;
    overflow: hidden;
    background-position: 0 -36px;
    cursor: pointer
}

.ui-checkbox-for:hover {
    background-position: 0 -51px
}

.ui-checkbox-for-on, .ui-checkbox-for-on:hover {
    background-position: 0 -66px
}

.ui-checkbox:checked + .ui-checkbox-for {
    background-position: 0 -66px
}

.ui-select {
    display: inline-block;
    line-height: 28px;
    margin-right: 5px;
    vertical-align: top
}

.ui-select-tit a {
    background-color: #fff;
    display: block;
    padding: 0 25px 0 10px;
    height: 28px;
    border: 1px solid #d2d2d2;
    position: relative;
    transition: border-color .3s;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    outline: 0
}

.ui-select-tit b {
    width: 25px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 0
}

.ui-select-tit i {
    height: 0;
    width: 0;
    position: absolute;
    right: 5px;
    top: 12px;
    border: 6px dashed transparent;
    border-top: 6px solid #999;
    overflow: hidden;
    padding: 0
}

.ui-select-ul {
    position: absolute;
    top: 29px;
    left: 0;
    border: 1px solid #999;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
    display: none;
    zoom: 1
}

.ui-select-item {
    height: 28px;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.ui-select-item:hover {
    background-color: #e9e9e9
}

.ui-select-hover:hover a b {
    background-color: #eaf3fc
}

.ui-select-hover:hover a i {
    border-top-color: #000
}

.ui-select-hover:hover a {
    border-color: #7eb4ea;
    box-shadow: 0 0 10px #ccc;
    color: #333;
    text-decoration: none
}

.ui-select-show {
    position: relative;
    z-index: 100
}

.ui-select-show .ui-select-ul {
    display: block
}

.ui-select-disabled {
    border-color: #ccc;
    cursor: default
}

.ui-select-disabled a, .ui-select-disabled a:hover {
    color: #999;
    cursor: default;
    background-color: #f3f3f3;
    text-decoration: none
}

.ui-select-li-on {
    cursor: default;
    background-color: #e0e0e0
}

.ui-upload {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: -999px
}

.ui-upload input {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer
}

.ui-uploadImg {
    height: 360px;
    width: 780px;
    padding: 20px
}

.ui-uploadImg-list {
    height: 320px;
    overflow: hidden
}

.ui-uploadImg-list ul {
    margin-right: -40px;
    overflow: hidden
}

.ui-uploadImg-list li {
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden
}

.ui-uploadImg .subtitle {
    z-index: 100;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    background-color: #000 \9;
    filter: alpha(opacity=50) \9;
    color: #fff
}

.ui-uploadImg .subprogress {
    height: 24px;
    bottom: 0;
    width: 0;
    left: 0;
    position: absolute;
    background-color: red;
    z-index: 99
}

.ui-uploadImg .subtools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center
}

.ui-uploadImg .subtools span {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    line-height: 22px;
    -wekit-transition: top .3s;
    transition: top .3s
}

.ui-uploadImg .subtools .success {
    background-color: #09f;
    width: 40px;
    z-index: 8
}

.ui-uploadImg .subtools .delete {
    background-color: #000;
    width: 40px;
    top: -22px;
    cursor: pointer;
    z-index: 10
}

.ui-uploadImg li:hover span.delete {
    top: 0
}

.ui-uploadImg .subtools .error {
    width: 100%;
    background-color: red;
    z-index: 9
}

.ui-uploadImg-list .ui-webkit-scrollbar {
    height: 300px;
    width: 780px;
    overflow: hidden;
    overflow-y: auto;
    position: relative
}

.ui-uploadImg-list .last {
    background: url(http://static.meishichina.com/v6/img/uploadImg/add.jpg) no-repeat 0 0;
    position: relative
}

.ui-uploadImg .ui-btn-red-2 {
    text-decoration: none;
    margin-right: 10px
}

#spanSWFUploadButton {
    width: 140px;
    height: 140px
}

.ui_btn_blue, .ui_btn_gray {
    padding: 0 16px;
    border-radius: 3px;
    color: #fff;
    outline: 0;
    display: inline-block;
    height: 24px;
    line-height: 23px;
    border: 0;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-size: 14px
}

.ui_btn_blue {
    background-color: #6599ff
}

.ui_btn_blue:hover {
    background-color: #39f;
    text-decoration: none;
    color: #fff
}

.ui_btn_gray, .ui_btn_gray:hover {
    background-color: #e8e8e8;
    color: #000;
    text-decoration: none
}

.ui-btn-blue, .ui-btn-gray, .ui-btn-gray-2, .ui-btn-red, .ui-btn-red-2 {
    padding: 0 16px;
    border-radius: 3px;
    outline: 0;
    display: inline-block;
    border: 0;
    cursor: pointer;
    vertical-align: top;
    text-align: center
}

.ui-btn-blue, .ui-btn-gray, .ui-btn-red {
    height: 24px;
    line-height: 23px;
    font-size: 14px
}

.ui-btn-blue-2, .ui-btn-gray-2, .ui-btn-red-2 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 0 30px
}

.ui-btn-blue {
    background-color: #6599ff;
    color: #fff
}

.ui-btn-blue:hover {
    background-color: #39f;
    color: #fff
}

.ui-btn-red, .ui-btn-red-2 {
    background-color: #ba2020;
    color: #fff
}

.ui-btn-red-2:hover, .ui-btn-red:hover {
    background-color: #a40000;
    color: #fff
}

.ui-btn-gray, .ui-btn-gray-2 {
    background-color: #f2f2f2;
    color: #333
}

.ui-btn-gray:hover {
    background-color: #f2f2f2;
    color: #666
}

.ui-btn-gray-2 {
    border: 1px solid #d2d2d2;
    height: 38px;
    line-height: 38px
}

.ui-btn-gray-2:hover {
    background-color: #eee;
    color: #333
}

.ui-webkit-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    margin-right: 2px
}

.ui-webkit-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 5px;
    width: 8px
}

.ui-webkit-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b5b5b5
}

.ui-placeholder {
    position: absolute;
    display: none;
    color: #8e8e8e;
    z-index: 99999;
    font-size: 14px;
    top: -999em;
    overflow: hidden
}

.ui-placeholder-focus {
    color: #999
}

.fixed-footer {
    position: fixed;
    bottom: 10px;
    left: -9999px;
    z-index: 102410;
    height: 58px
}

.fixed-footer-go, .fixed-footer-weixin {
    background: url(http://static.meishichina.com/v6/img/model/goTop.png?v=1) no-repeat 0 0;
    background: url(http://static.meishichina.com/v6/img/wap_a/gotop.png) no-repeat scroll center center/58px 58px
}

.fixed-footer-go {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 58px;
    height: 58px
}

.fixed-footer-go:hover {
    opacity: .7;
    filter: alpha(opacity=70)
}

.fixed-footer-weixin {
    display: none
}

.link_me_app a, .link_me_follow a {
    background: url(http://static.meishichina.com/v6/img/model/sprite_common.png) no-repeat 0 0
}

.help_wrap {
    background-color: #f5f5f5;
    padding: 20px 0
}

.site_box {
    line-height: 22px
}

.site_box a, .site_box dd {
    color: #666
}

.site_box dl {
    width: 140px;
    float: left
}

.like_me {
    width: 350px;
    float: right
}

.like_me p {
    color: #f60;
    padding-bottom: 10px;
    font-size: 14px
}

.link_me_app {
    height: 70px
}

.link_me_app a {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    text-indent: -9999em
}

.link_me_app .a_app {
    background-position: -71px -50px
}

.link_me_app .a_icate {
    background-position: -71px -100px
}

.link_me_app .a_wap {
    background-position: -71px -150px
}

.link_me_app .a_hd {
    background-position: -71px 0
}

.link_me_follow {
    height: 24px
}

.link_me_follow a {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    overflow: hidden;
    text-indent: -999em;
    background-position: -30px 0
}

.link_me_follow .f_sina {
    background-position: -30px 0
}

.link_me_follow .f_sina:hover {
    background-position: 0 0
}

.link_me_follow .f_t {
    background-position: -30px -30px
}

.link_me_follow .f_t:hover {
    background-position: 0 -30px
}

.link_me_follow .f_qzone {
    background-position: -30px -60px
}

.link_me_follow .f_qzone:hover {
    background-position: 0 -60px
}

.link_me_follow .f_sohu {
    background-position: -30px -210px
}

.link_me_follow .f_sohu:hover {
    background-position: 0 -210px
}

.link_me_follow .f_douban {
    background-position: -30px -270px
}

.link_me_follow .f_douban:hover {
    background-position: 0 -270px
}

.link_me_follow .f_renren {
    background-position: -30px -180px
}

.link_me_follow .f_renren:hover {
    background-position: 0 -180px
}

.link_me_follow .f_mail {
    background-position: -30px -150px
}

.link_me_follow .f_mail:hover {
    background-position: 0 -150px
}

.link_me_follow .f_mail2 {
    background-position: -30px -120px
}

.link_me_follow .f_mail2:hover {
    background-position: 0 -120px
}

.footer-info {
    background-color: #f5f5f5;
    color: #666
}

.footer-info .w {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    height: 40px;
    line-height: 40px
}

.footer-info a {
    color: #666
}

.footer-info a:hover {
    color: #fd8712
}

.w_help {
    background-color: #f5f5f5;
    padding: 20px 0
}

.w_help, .w_help a {
    color: #555
}

.w_help a:hover {
    color: #ba2020
}

.w_help ul {
    line-height: 22px
}

.w_help h5 {
    font-size: 14px;
    padding: 0 0 5px;
    color: #333
}

.w_help h5 a:link {
    color: #000
}

.w_help_1 {
    float: left;
    width: 140px
}

.w_help_2 {
    float: left;
    width: 160px;
    padding: 0 20px 0 55px
}

.w_help_2 li {
    float: left;
    width: 80px
}

.w_help_3 {
    float: left;
    width: 240px;
    padding: 0 20px 0 55px
}

.w_help_3 li {
    float: left;
    width: 80px
}

.w_help_3 li.short {
    width: 68px
}

.w_help_4 {
    float: right;
    margin: 0 58px 0 0
}

.w_help_4 li {
    float: left;
    width: 82px;
    text-align: center;
    padding: 5px 0
}

.w_help_4 li.ddr {
    margin: 0 0 0 40px
}

a:focus {
    outline: 0
}

.mo {
    font-size: 20px;
    color: #333;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0 20px 25px;
    background: rgba(0, 0, 0, 0) url(http://static.meishichina.com/v6/img/mo.png) no-repeat scroll left center
}

.mo * {
    color: #333;
}

.mo a:hover {
    color: #ff6767;
    text-decoration: none
}