@charset "UTF-8";
.comment-post {
    position: relative;
    zoom: 1
}

.comment-login, .comment-login-text, .comment-post-loading {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.comment-login {
    height: 100%;
    background: #ccc;
    z-index: 101;
    opacity: 0;
    filter: alpha(opacity=0)
}

.comment-login-text {
    z-index: 102;
    text-align: center;
    font-size: 14px;
    padding-top: 40px
}

.comment-login-text a {
    color: #069;
    padding-right: 6px
}

.comment-wrap .islogin .comment-login, .comment-wrap .islogin .comment-login-text {
    display: none
}

.comment-post-loading {
    display: none;
    z-index: 100;
    height: 100%;
    background: url(http://static.meishichina.com/v6/img/loading-32-32.gif) center no-repeat
}

.comment-wrap .loading .comment-post-loading {
    display: block
}

.comment-post .arrow {
    display: none
}

.comment-post-text {
    border: 1px solid #ccc;
    padding: 5px 0 5px 5px;
    background-color: #fff
}

.comment-post-focus {
    box-shadow: 2px 2px 3px #f0f0f0 inset
}

.comment-post-text-inner {
    width: 100%
}

.comment-wrap .text {
    overflow: hidden;
    overflow-y: auto;
    height: 90px;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    border: 0;
    outline: 0;
    vertical-align: top
}

.comment-post-tools {
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top: 0;
    font-size: 0
}

.comment-post-tools a, .comment-post-tools span {
    display: inline-block;
    font-size: 12px
}

.comment-post-tools .tips {
    color: #999
}

.comment-smilies-a {
    width: 24px;
    height: 24px;
    background-image: url(http://static.meishichina.com/v6/img/model/smilies-icon.gif);
    margin: 3px 10px 0 3px;
    border: 1px solid #eee;
    vertical-align: top
}

.comment-post-tools .comment-btn {
    background-color: #ba2020;
    padding: 0 26px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top
}

.comment-post-tools .comment-btn:hover {
    color: #fff
}

.comment-nav {
    overflow: hidden;
    height: 30px;
    border-left: 2px solid #ba2020;
    padding-left: 10px;
    line-height: 30px
}

.comment-nav .left {
    font-size: 16px
}

.comment-nav strong {
    color: #666
}

.comment-nav .right a {
    color: #666;
    padding-left: 10px;
    font-size: 14px
}

.comment-nav .right a.on {
    color: red
}

.comment-list li {
    overflow: hidden;
    border-bottom: 1px dotted #e4e4e4;
    padding: 10px 0;
    position: relative;
    background-color: #fff;
    vertical-align: top;
    zoom: 1
}

.comment-list .pic {
    width: 48px;
    float: left
}

.comment-list .pic a {
    display: block
}

.comment-list .pic img {
    background: url(http://static.meishichina.com/v6/img/loading-16-16.gif) center no-repeat;
    border-radius: 50%
}

.comment-list .detail {
    padding-left: 58px
}

.comment-list .quote {
    border-left: 3px solid #f0f0f0;
    padding-left: 3px;
    margin-bottom: 6px
}

.comment-list .quote span {
    background-color: #f8f8f8;
    padding: 5px;
    display: block;
    color: #666
}

.comment-list .quote b {
}

.comment-list .tools {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    zoom: 1
}

.comment-list .tools span {
    color: #666;
    padding-left: 10px
}

.comment-list .tools .right a {
    padding-left: 10px
}

.comment-list .content {
    padding-top: 5px;
    font-size: 14px
}

.comment-reply {
    background-color: #f3f3f3;
    padding: 10px;
    margin-top: 20px
}

.comment-cid a, .comment-loading {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0
}

.comment-reply .arrow {
    position: absolute;
    display: block;
    left: 10px;
    top: -20px;
    border-width: 10px;
    border-bottom: 10px solid #f0f0f0
}

.comment-edit {
    margin-top: 10px
}

.comment-cid {
    display: none
}

.comment-cid a {
    display: block;
    height: 30px
}

.comment-list .data-error {
    display: none;
    font-size: 14px;
    line-height: 30px
}

.comment-list .data-error a {
    color: #069;
    padding: 0 5px
}

.comment-befrom {
    padding-top: 5px;
    color: #999;
    font-size: 11px
}

.comment-befrom a {
    color: #999
}

.comment-list .tools div.left > a {
    color: #6599ff
}

.comment-list .content img.imgLoad {
    margin: 10px 0 0 0;
    width: auto;
    max-width: 550px;
    *width: 550px;
}