.ui_title {
    height: 35px;
    border-bottom: 1px solid #E8E8E8;
    position: relative
}

.ui_title_wrap {
    line-height: 30px;
    font-size: 20px
}

.ui_title_wrap li, .ui_title_wrap li, .ui_title_wrap li {
    float: left;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    color: #666;
    padding-bottom: 4px;
    outline: 0;
    color: #333;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ui_title_wrap li a, .ui_title_wrap li a, .ui_title_wrap li a {
    color: #666
}

.ui_title_wrap li.active, .ui_title_wrap li.active, .ui_title_wrap li.active {
    color: #ff6767;
    border-bottom: 3px solid #ff6767
}

.ui_title_wrap li.active a, .ui_title_wrap li.active a, .ui_title_wrap li.active a {
    color: #ff6767
}

.ui_title_wrap a.on {
    color: #ff6767
}

.ui_title_wrap a {
    text-decoration: none
}

.ui_title_wrap .right {
    float: right;
    margin: 0 0 0 20px;
    font-size: 16px
}

.w_line {
    width: 990px
}

.w_links {
    padding: 25px 0 0 0;
    clear: both
}

.w_links h3 {
    font-size: 14px;
    color: #333;
    padding: 0 0 6px
}

.w_links li {
    float: left;
    padding: 0 12px 0 0
}

.w_links li img {
    background: #f2f2f2 url(http://static.meishichina.com/v6/img/loading-16-16.gif) no-repeat scroll center center
}

.footer-info .w {
    height: 40px;
    line-height: 40px
}

.footer-info p {
    float: left;
    text-align: left
}

.footer-area {
    padding: 10px 0
}

.footer-area .w {
    padding-top: 10px;
    border-top: 1px solid #e8e8e8
}

.footer-area a {
    color: #666
}

.footer-area a:hover {
    color: #ff6767
}

.ft1 {
    clear: none;
    float: left;
    color: #666;
    width: 770px
}

.ft1 .c3b {
    color: #c90;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px
}

.ft1 .c3b a {
    color: #f50
}

.ft1 .c3c {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 6px
}

.ft2, .ft3, .ft4 {
    clear: none;
    float: right;
    text-align: center
}

.ft2 img, .ft3 img, .ft4 img {
    display: block
}

.ft3 {
    margin-right: 25px
}

.footer-info {
    background: 0 0
}

.footer-info .w {
    border: none
}

.logo_wrap2 {
    padding-top: 50px
}

.w1 {
    position: relative;
    height: 360px;
    width: 990px
}

#home_index_slider {
    height: 360px;
    overflow: hidden;
    position: relative;
    width: 990px;
    z-index: 1
}

#home_index_slider ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0
}

#home_index_slider li {
    display: none;
    height: 360px;
    overflow: hidden;
    position: relative;
    width: 990px;
    float: left;
    padding: 0
}


#home_index_slider li.active{
    display: block;
}

#home_index_slider li a {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden
}

#home_index_slider li a img {
    display: block;
    width: 100%;
    height: 100%;
    background: #f2f2f2
}


.w1 .nextBtn, .w1 .prevBtn {
    z-index: 3;
    width: 40px;
    height: 60px;
    position: absolute;
    overflow: hidden;
    cursor: pointer
}

.w1 .nextBtn:hover, .w1 .prevBtn:hover {
    text-decoration: none;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.w1 .nextBtn i, .w1 .prevBtn i {
    display: inline-block;
    background: url(http://static.meishichina.com/v6/img/model/arrow1.png) no-repeat;
    background: url(http://static.meishichina.com/v6/img/model/arrow.png) no-repeat scroll 0 0/auto 30px;
    width: 17px;
    height: 30px;
    margin: 15px 12px
}

.w1 .prevBtn {
    top: 152px;
    left: 220px
}

.w1 .nextBtn {
    top: 152px;
    right: 0
}

.w1 .nextBtn i {
    background-position: -17px 0
}

.w1 .controls {
    z-index: 3;
    position: absolute;
    right: 10px;
    bottom: 5px
}

.w1 .controls li {
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 3px solid #999;
    border-radius: 50%
}

.w1 .controls li.current {
    border: 3px solid #ff6767
}

.w1 .controls li a {
    display: none
}

.w1_1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 330px;
    padding: 30px 0 0;
    background: #444;
    background: rgba(68, 68, 68, .4);
    z-index: 4
}

.w1_1 li {
    font-size: 18px;
    color: #fff;
    display: block
}

.w1_1 li a.la {
    display: block;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 20px 0
}

.w1_1 li a.la:hover {
    background: #ff6767;
    text-decoration: none
}

.w1_1 li.on {
    background: #ff6767
}

.w1_1 li b, .w1_1 li i {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 0 20px;
    background: url(http://static.meishichina.com/v6/img/model/icon1.png) no-repeat;
    background: rgba(0, 0, 0, 0) url(http://static.meishichina.com/v6/img/model/icon.png) no-repeat scroll 0 0/auto 20px
}

.w1_1 li.i2 i {
    background-position: -20px 0
}

.w1_1 li.i3 i {
    background-position: -120px 0
}

.w1_1 li.i4 i {
    background-position: -60px 0
}

.w1_1 li.i5 i {
    background-position: -80px 0
}

.w1_1 li b {
    background-position: -100px 0;
    float: right
}

.w1_1 li .sub {
    position: absolute;
    height: 338px;
    width: 390px;
    background: #fff;
    z-index: 4;
    top: 0;
    left: 219px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .2);
    display: none;
    padding: 22px 50px 0;
    color: #000
}

.w1_1 li .sub li.pic a {
    width: 50%;
    height: auto
}

.w1_1 li .sub li.pic2 a {
    width: 100%;
    height: auto
}

.w1_1 li .sub a {
    float: left;
    width: 130px;
    height: 70px;
    text-align: center;
    line-height: 64px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    margin: 0 0 10px 0
}

.w1_1 li .sub a span {
    bottom: 4px;
    color: #999;
    display: block;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.w1_1 li .sub a:hover span {
    color: #777
}

.w2 {
    position: relative;
    width: 990px;
    margin: 10px auto 0;
    background: #eee;
    padding: 15px 0
}

#w2_slider {
    height: 90px;
    overflow: hidden;
    position: relative;
    width: 910px;
    z-index: 1;
    margin: auto
}

#w2_slider ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0
}

#w2_slider li {
    display: block;
    height: 90px;
    overflow: hidden;
    position: relative;
    width: 284px;
    float: left;
    margin: 0
}

#w2_slider li.mm {
    width: 342px
}

#w2_slider li.mm h2 {
    padding: 0 29px 8px
}

#w2_slider li.mm p {
    padding: 0 29px
}

#w2_slider li h2 {
    font-size: 20px;
    line-height: 1.2em;
    padding: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#w2_slider li p {
    color: #333;
    font-size: 12px;
    padding: 0
}

#w2_slider li p span {
    color: #999
}

.w2 .nextBtn, .w2 .prevBtn {
    z-index: 3;
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: none;
    border-radius: 50%
}

.w2:hover .nextBtn, .w2:hover .prevBtn {
    display: block
}

.w2 .nextBtn:hover, .w2 .prevBtn:hover {
    text-decoration: none;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30)
}

.w2 .nextBtn i, .w2 .prevBtn i {
    display: inline-block;
    background: url(http://static.meishichina.com/v6/img/model/arrow2.png) no-repeat;
    background: url(http://static.meishichina.com/v6/img/model/arrow.png) no-repeat scroll 0 0/auto 21px;
    width: 12px;
    height: 21px;
    margin: 4.5px 9px
}

.w2 .prevBtn {
    top: 45px;
    left: 5px
}

.w2 .nextBtn {
    top: 45px;
    right: 5px
}

.w2 .nextBtn i {
    background-position: -12px 0
}

.w2 .controls {
    display: none
}

.w3 {
    width: 990px;
    margin: 20px auto 0
}

.w3_1 {
    width: 310px;
    float: left
}

.w3_2 {
    width: 310px;
    margin: 0 30px;
    float: left
}

.w3_3 {
    width: 310px;
    float: left
}

.w3 .w3a {
    display: block;
    padding: 10px 0 0
}

.w3 .live {
    display: none;
    transition: all 0.3s;
    opacity: 0;
}

.w3 .active {
    display: block;
    opacity: 1;
}

.tuijian li {
    font-size: 16px;
    padding: 10px 0 0;
    line-height: 26px
}

.tuijian li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.tuijian li a:before {
    border: 2px solid #ccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    float: left;
    height: 5px;
    margin: 8px 8px 0 2px;
    vertical-align: middle;
    width: 5px
}

.tuijian li a:hover:before {
    border: 2px solid #ff6767
}

.La3 {
    width: 327px;
    clear: both
}

.La3 a {
    border: 1px solid #e1e1e1;
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 10px 17px 5px 0;
    text-align: center;
    text-decoration: none;
    width: 90px
}

.La3 a:hover {
    border: 1px solid #ff6767
}

.w4 {
    width: 990px;
    overflow: hidden;
    margin: 20px 0 0 0
}

.tui_c {
    width: 100%;
    overflow: hidden
}

.tui_c ul {
    width: 1011px;
    padding: 10px 0 0 0;
}

.tui_c li {
    float: left;
    margin: 10px 18px 0 0;
    width: 126px;
    text-align: center
}

.tui_c li a {
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.tui_c li span {
    color: #999
}

.tui_c li img {
    display: block;
    margin: 0 0 5px 0;
    width: 126px;
    height: 126px
}

.w5 {
    width: 990px;
    overflow: hidden;
    margin: 40px 0 0 0
}

.big4_list {
    width: 100%
}

.big4_list ul {
    display: block;
    width: 1040px
}

.big4_list li {
    float: left;
    margin: 0 23px 0 0;
    text-align: center;
    width: 230px;
    height: 305px;
    overflow: hidden
}

.big4_list li a {
    display: block;
    overflow: hidden;
    text-decoration: none
}

.big4_list li a i {
    display: block;
    overflow: hidden;
    width: 230px;
    height: 230px
}

.big4_list li a img {
    width: 230px;
    height: 230px;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

.big4_list li:hover a img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.big4_list li a p {
    font-size: 18px;
    line-height: 120%;
    padding: 8px 0 2px
}

.big4_list li a span {
    color: #999
}

.big4_list li a.u {
    margin: auto;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.big4_list li a.u:hover {
    color: #ff6767
}

.big4_list2 li {
    height: 248px
}

.big4_list2 li a i, .big4_list2 li a img {
    height: 173px
}

.w5 .big4_list ul {
    display: none
}

.w5 .big4_list ul.on {
    display: block
}

.w6 {
    width: 990px;
    overflow: hidden;
    margin: 40px 0 0 0
}

.pin_list {
    padding: 0;
    margin: 10px 0 0 0;
    clear: both
}

.pin_list li {
    padding: 10px 0;
    width: 460px;
    float: left;
    height: 225px;
    overflow: hidden
}

.pin_list li.clear {
    float: right
}

.pin_list div.u {
    height: 40px
}

.pin_list div.u div {
    float: left;
    width: 80%
}

.pin_list div.u img.imgLoad {
    background: #f2f2f2 url(http://static.meishichina.com/v6/img/loading-16-16.gif) no-repeat scroll center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 0
}

.pin_list div.u a.t {
    color: #111;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    max-width: 590px
}

.pin_list div.u span {
    color: #666;
    font-size: 10px;
    float: left;
    clear: both
}

.pin_list div.c {
    display: block;
    padding: 5px 0 0 0
}

.pin_list div.c div.pp a {
    color: #666;
    font-size: 14px;
    font-size: 14px;
    max-height: 45px;
    overflow: hidden
}

.pin_list div.c div.pp i {
    border: 1px solid #ff6767;
    border-radius: 3px;
    color: #ff6767;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    margin: 0 5px 0 0;
    padding: 0 3px;
    vertical-align: text-bottom
}

.pin_list div.c a.clear {
    position: relative;
    padding: 10px 0 0;
    float: left
}

.pin_list div.c a.clear img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0
}

.pin_list div.c a.clear b {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .5)
}

.pin_list div.c span {
    clear: both;
    float: left;
    padding: 10px 0 0;
    font-size: 12px;
    color: #666;
    line-height: 100%
}

.w6 .live {
    display: none;
    transition: all 0.3s;
    opacity: 0;
}

.w6 .on {
    display: block;
    opacity: 1;
}

.tab-list{
}

.tab-list .tab{
    display: none;
}

.tab-list .tab.active{
    display: block;
}