.ui_title {
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    position: relative
}

.ui_title_wrap {
    line-height: 30px;
    font-size: 20px
}

.ui_title_wrap h1, .ui_title_wrap h2, .ui_title_wrap h3 {
    float: left;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    color: #666;
    padding-bottom: 4px;
    outline: 0;
    color: #333;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ui_title_wrap h1 a, .ui_title_wrap h2 a, .ui_title_wrap h3 a {
    color: #666
}

.ui_title_wrap h1.on, .ui_title_wrap h2.on, .ui_title_wrap h3.on {
    color: #ff6767;
    border-bottom: 3px solid #ff6767
}

.ui_title_wrap h1.on a, .ui_title_wrap h2.on a, .ui_title_wrap h3.on a {
    color: #ff6767
}

.ui_title_wrap a.on {
    color: #ff6767
}

.ui_title_wrap a {
    text-decoration: none
}

.ui_title_wrap .right {
    float: right;
    margin: 0 0 0 20px;
    font-size: 16px
}

.ui_title_wrap span.right {
    color: #999
}

.ui_no_data {
    font-size: 24px;
    padding: 100px;
    padding-right: 0;
    color: #999
}

.ui_no_data a, .ui_no_data a:hover {
    color: #6599ff;
    padding: 5px
}

.ui-loading {
    height: 44px;
    line-height: 44px;
    overflow: hidden
}

.ui-loading a {
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #ff6767;
    background-color: #f8f8f8;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -moz-transition: color .3s ease-in-out .3s, background-color .3s ease-in-out .3s;
    -o-transition: color .3s ease-in-out .3s, background-color .3s ease-in-out .3s;
    -ms-transition: color .3s ease-in-out .3s, background-color .3s ease-in-out .3s;
    transition: color .3s ease-in-out .3s, background-color .3s ease-in-out .3s
}

.ui-loading a:hover {
    background-color: #ff8d8d;
    color: #fff;
    text-decoration: none
}

.ui-loading a.on {
    cursor: default;
    background: url(http://static.meishichina.com/v6/img/loading-16-16.gif) no-repeat center center #f9f9f9;
    text-indent: -9999em
}

li.feed {
    display: none
}

.space_left {
    width: 640px;
    float: left;
    overflow: hidden
}

.space_right {
    width: 300px;
    float: right
}

.zhen_listing_index {
    width: 1111px
}

.zhen_listing_index li {
    float: left;
    margin: 0 45px 20px 0;
    text-align: center;
    width: 300px;
    height: 320px;
    overflow: hidden;
}

.zhen_listing_index li {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.zhen_listing_index li i {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 250px;
}

.zhen_listing_index li img {
    width: 300px;
    height: 300px;
    margin-top: -25px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.zhen_listing_index li:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.zhen_listing_index li p {
    font-size: 18px;
    line-height: 120%;

    padding: 5px 0;
}

.zhen_listing_index li span {
    color: #999;
}

.mof_th {
    margin: 0 0 20px 0;
    display: block;
}

a.mof_th h1, a.mof_th p {
    display: none
}

div.mof_th h1 {
    font-size: 32px;
    padding: 10px 0;
}

div.mof_th a {
    text-decoration: none;
}

div.mof_th p {
    color: #999
}

.mof_th img {
    width: 100%;
}

.mof_art {
    font-size: 16px;
}

.mof_slider {
    height: 240px;
    overflow: hidden;
    width: 650px;
    position: relative;
    background: #F7F7F7
}

#slider {
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 650px
}

#slider ul {
    display: block;
    margin: 0;
    padding: 0;
    position: relative
}

#slider li {
    display: block;
    float: left;
    height: 240px;
    overflow: hidden;
    width: 650px
}

#slider li a.sl_apic {
    display: block;
    float: left;
    height: 100%;
    margin: 0 25px 0 0;
    text-align: center;
    width: 320px
}

#slider li a.sl_at {
    font-size: 20px;
    float: left;
    width: 285px;
    height: 60px;
    overflow: hidden;
    margin: 15px 0
}

#slider li a.u {
    color: #999
}

#slider li a.u img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 10px 0 0;
    background: url(http://static.meishichina.com/v6/img/loading-16-16.gif) no-repeat scroll center center #f2f2f2
}

#slider li .sl_p {
    font-size: 14px;
    padding: 10px 50px 0 0
}

#slider li.sl_last a {
    float: left;
    font-size: 14px;
    margin: 10px 0 0 30px;
    width: 280px;
    height: 66px
}

#slider li.sl_last a img {
    float: left;
    margin: 0 10px 0 0
}

.nextBtn, .prevBtn {
    width: 40px;
    height: 50px;
    position: absolute;
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    overflow: hidden;
    text-indent: -9999em;
    top: 95px;
    left: 0;
    cursor: pointer
}

.nextBtn:hover, .prevBtn:hover {
    text-decoration: none;
    opacity: .7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.nextBtn i, .prevBtn i {
    display: block;
    background: url(http://static.meishichina.com/v6/img/lookImg/arrow.png) no-repeat;
    width: 18px;
    height: 35px;
    margin: 7px 0 0 11px
}

.nextBtn {
    left: auto;
    right: 0
}

.nextBtn i {
    background-position: -18px 0
}

.left3_list {
    width: 100%
}

.left3_list ul {
    display: block;
    width: 666px;
}

.left3_list li {
    float: left;
    margin: 0 20px 0 0;
    text-align: center;
    width: 200px;
    height: 275px;
    overflow: hidden
}

.left3_list li a {
    display: block;
    overflow: hidden;
    text-decoration: none
}

.left3_list li a i {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 200px
}

.left3_list li a img {
    width: 200px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.left3_list li:hover a img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.left3_list li a p {
    font-size: 18px;
    line-height: 120%;
    padding: 8px 0 2px;
}

.left3_list li a span {
    color: #999
}

.left3_list li a.u {
    margin: auto;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left3_list li a.u:hover {
    color: #ff6767
}

.recipeArction {
    padding: 15px 0
}

.recipeArction .collect_da {
    display: block;
    float: none;
    margin: auto;
    width: 300px
}

.recipeArction .collect_da li {
    float: left;
    width: 60px
}

.collect_da li a {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 11px
}

.collect_da li a {
    text-decoration: none;
    color: #666
}

.collect_da li a i {
    width: 30px;
    height: 30px;
    display: block;
    margin: 2px auto;
    background: transparent url(http://static.meishichina.com/v6/img/zhen/i.png?v=2) no-repeat;
    background: rgba(0, 0, 0, 0) url(http://static.meishichina.com/v6/img/zhen/ix2.png?v=2) no-repeat scroll 0 0/auto 30px
}

.collect_da li.fav a i {
    background-position: 0 0
}

.collect_da li.fav a.on i, .collect_da li.fav a:hover i {
    background-position: -30px 0
}

.collect_da li a.J_s1 i {
    background-position: -60px 0
}

.collect_da li a.J_s2 i {
    background-position: -90px 0
}

.collect_da li a.J_s3 i {
    background-position: -120px 0
}

.collect_da li a.J_s4 i {
    background-position: -150px 0
}

.collect_da li a.J_col i {
    background-position: -240px 0
}

.collect_da li.lik a i {
    background-position: -210px 0
}

.collect_da li.lik a.on i, .collect_da li.lik a:hover i {
    background-position: -180px 0
}

#bdshare {
    display: none
}

.article_message {
    font-size: 16px;
    width: 100%;
    overflow: hidden
}

.article_message img {
    max-width: 640px
}

.article_message p {
    font-size: 16px;
    margin: 0 0 1em
}

.article_message a {
    color: #ff6767
}

.article_message em {
    color: #ff6767;
    font-style: normal;
    font-weight: 400
}

.article_h {
    font-size: 26px;
    color: #333;
    padding: 10px 0;
}